/*DEVELOPER: Sarah Naser, 1S117-002, Spring 2020*/
h1{
    font-weight: bolder;
    color: seagreen;
    font-family: Centaur;
}
h4 {
    color: darkseagreen;
    font-weight: bold;
}
p {
    font-size: medium;
}