/* DEVELOPER: Sarah Naser, IS117-002, Spring 2020*/
/*styles for nav bar*/
.nav-link {
    color: darkslategray !important;
}
.dropdown-item {
    color: darkslategray !important;
}
/*styles for jumbotron*/
.main-jumbotron {
    background-image: url("../images/plant.jpg") !important;
    background-size: cover;
    height: 475px;
    color: black;
}
.main-jumbotron .display-4 {
    font-family: Broadway !important;
}
/* .lead {
    font-family: Broadway;
    font-size: x-large;
} */
/*styles for bootstrap cards*/
.btn-primary {
    background: green;
}
/*styles for footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6fff6;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}