/* DEVELOPER: Sarah Naser, IS117-002, Spring 2020*/
/*styles for nav bar*/
.nav-link {
    color: darkgreen !important;
}
.dropdown-item {
    color: darkgreen !important;
}
/*styles for jumbotron*/
.main-jumbotron {
    background-image: url("../images/flower-meadow.jpg") !important;
    background-size: cover;
    height: 432px;
    color: white;
}
/*styles for bootstrap cards*/
.btn-primary {
    background: green;
}
/*styles for footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6fff6;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}