/*DEVELOPER: Sarah Naser, IS117-002, Spring 2020*/
/*images*/
.img-right {
    width: 40%;
    float: right;
    margin: 2em;
}
.img-left {
    width: 35%;
    float: left;
    margin: 2em 3em 2em 0;
}
/*jumbotrons*/
.college-jumbo {
    background-image: url("../images/desktop-white.jpg");
    background-size: cover;
    height: 384px;
}
.college-title {
    float: right;
    margin: 50px;
    font-family: Centaur;
}
/*articles*/
.article-title {
    margin: 10px;
    font-family: Centaur;
    font-weight: bold;
    color: seagreen;
}
.intro {
    margin: 0 2em 0;
}
.tips li {
    margin: 10px 70px 0 20px;
}
.cursive {
    font-family: Centaur;
}
.conclusion {
    margin: 0 2em 0;
}
/*centaur , french script MT, castellar